	.wrapper{
		width: 1200px;
		margin: 0 auto;
		}
		header{
			text-align: center;
			background: #55ff55;
		}
		.conteiner1{
			float: left;
			width: 100%;
			text-align: center;
			background:red;
			position: relative;
			right: 40%;
		}
		.conteiner2{
			float: left;
			width: 100%;
			background: yellow;
			position: relative;
			right: 30%;
		}
		.conteiner3{
			float: left;
			width: 100%;
			background: #bbffaa;
			overflow: hidden;
			position: relative;
		}
		.left{float: left;
			width: 30%;
			position: relative;
			left: 70%;
		}
		.content{
			float: left;
			width: 40%;
			position: relative;
			left: 70%;
			
		}
		.right {
			float: left;
			width: 30%;
			position: relative;
			left: 70%;			
		}
		footer{
			clear: both;
			text-align: center;
			background: #ffaa44;
			width: 100%;
		}