@import url(http://allfont.ru/allfont.css?fonts=montserrat-bold);
@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);
@import url(http://allfont.ru/allfont.css?fonts=montserrat-hairline);
@import url(http://allfont.ru/allfont.css?fonts=montserrat);
@mixin montserrat-bold($size){
	font-family: 'Montserrat Bold', arial;
	font-size: $size;
}
@mixin montserrat-hairline($size){
	  font-family: 'Montserrat Hairline', arial;
	font-size: $size;
}
@mixin montserrat-light($size){
	font-family: 'Montserrat Light', arial;
	font-size: $size;
}
@mixin montserrat($size){
	font-family: 'Montserrat', arial;
	font-size: $size;
}