.left-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 228px;
    border-bottom: 1px solid #ddd;


}
.left-menu ul li {
    position: relative;

}
.left-menu li ul {
    position: absolute;
    left: 227px;
    top: 0;
    display: none;
}
.left-menu ul li a {
    display: block;
    text-decoration: none;
    color: #360036;
    background: #fff;
    padding:5px 5px 5px 15px;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.left-menu ul li a:hover {
    background: #ddd;
}
.left-menu li:hover ul, li.hover ul { 
    display: block; 
}

