@import 'reset.css';
body{
	margin: 0;
}
.header {
	height: 182px;
	background-color: #82f2ff;
}
.footer {
	height: 218px;
	background-color: #404040;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.content{
	background-color: #fff;
	box-shadow: 0 0 79px 0 rgba(0,0,0,0.72);
	width: 800px;
	margin: 0 auto;
	padding-left: 53px;
	padding-top: 30px;
	padding-right: 52px;
	margin-top: -71px;
	margin-bottom: -96px;
	position: relative;
	z-index: 1;
}

.content-header-left{
	float: left;
	width: 225px;
}
.content-header-image{
	border-radius: 50%;
	height: 223px;
	width: 223px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.18);
	overflow: hidden;
}
.content-header-right{
	margin-left: 225px;
	padding-left: 33px;
	padding-top: 21px;
}
h1{	
	font-size: 72px;
	color: #4b4b4b;
	margin-top: 0;
	font-family: Arial,sans-serif;
	margin-bottom: 0;
}
h2{
	font-size: 32px;
	padding-top: 33px;
	color: #4b4b4b;
	margin-top: 0;
	font-family: Arial,sans-serif;
}
.content-text {
	margin-top: 38px;
	font-family: Arial, sans-serif;
	color: #4b4b4b;
}
.content-text p {
	line-height: 1.2em;
	font-size: 16px;
}
.team{
	width: 661px;
	margin-top: 25px;
	margin-left: 33px;
}
.team-title{
	display: block;
	font-family: Arial, sans-serif;	
	color: #4b4b4b;
	font-size: 32px;
	margin-left: 5px;
	margin-bottom: 14px;
}
.team-foto{

  padding-bottom: 45px;
}
.team-item {
	display: inline-block;
	margin-right: 11px;
}
.team-foto, .team-item:last-child{
	margin-right: 0;
}
.team-description{
	font-family: Arial, sans-serif;	
	text-align: center;
}
span.Job{
	display: block;
	color: #999999;
	font-size: 12px;
	margin-top: 10px;
	
}
span.Name{
display: block;
color: #333333;
font-size: 14px;
margin-top: 10px;

}
.team-foto-1> img{
	position: relative;
	display: block;

}
.team-foto-1 {
	background-color: #95e1d3;
	position: relative;

}
.team-foto-1:hover>img {
	top: -5px;
	left: -5px;

}
.team-foto-1:hover .hover {
	display: block;
	background-color: rgba(130, 242, 255, 0.62);
}
.hover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -5px;
	left: -5px;
	display: none;
	
}
.team-links {
	width: 124px;
	height: 31px;
	background-color: #404040;
	margin: 114px auto 0;
}
.team-links a{
	text-align: center;
	width: 25%;
	height: 31px;
	float: left;
  line-height: 31px;

}
.team-links a:hover{
background-color: #fff;

}
.team-links img{
display: inline-block;
}
